<!--//ejs kya karta hai-- jo server se variable aata hai usko help karta hai html ke andar embedd karne me...normal html me hm ye nhi kar pate hai issiliye hm ejs use karte hai...-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
    <link href="https://cdn.tailwindcss.com/3.1.8/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    
    <h1>Hello</h1>
    <script> src="/js/app.js"</script>
</body>
</html>