@import './variables'; // importing variable css file to main css file

// Your custom styles here

     //      sass --watch .\resources\scss\app.scss:.\public\css\app.css

body{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing:antialiased;
    color: $dark;
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}

//add hover
nav li a::after{
    content:'';
    width:0%;
    height: 2px;
    background: $primary;
    display: block;
    margin: auto;
    transition: $smooth;
}

nav li a:hover::after{
    width:100%
}

section.hero{
    background:$secondary;
}

.size{
    background: $secondary;
}
.add-to-cart{
    border: 2px solid $primary ;
    color: $primary;
    &:hover{
        background: $primary;
        border-color: $pure;
        color:$pure;
        transition: $smooth;
    }
}

.btn-primary{
    background: $primary;
    transition:$smooth;
    &:hover {
        background:$primary-hover;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 86px);

    a{
        color: $primary;
        &:hover{
            color:$primary-hover;
        }
    }

}





